<!--
  Generated template for the MsgUtilityPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select User </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()">
          <ion-icon name="close-circle"></ion-icon>
      </button>
  </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
  </ion-toolbar>
  <!-- <ion-item style="height: 45px; background-color: #fafafa;">
    <ion-label>{{ "Select Vehicle" }}</ion-label>
    <select-searchable item-content [(ngModel)]="obj" [items]="obj" itemValueField="first_name"
      itemTextField="first_name" [isMultiple]="true" [canSearch]="true">
    </select-searchable>
  </ion-item> -->

</ion-header>


<ion-content padding>
  <div *ngIf="obj.length > 0">
    <ion-item *ngFor="let member of filterObj">
      <ion-label> {{member.first_name}} </ion-label>
      <ion-checkbox color="dark" (click)="selectMember(member)" [(ngModel)]="member.checked"></ion-checkbox>
    </ion-item>

    <!-- <label class="btn btn-filter">
      <input type="checkbox" name="selectall" [value]="filterObj" (change)="allTrades($event)">All Trades
    </label>
    <ion-item *ngFor="let member of filterObj">
      <label class="btn btn-filter">
        <input type="checkbox" [checked]="member.checked" (click)="selectMember(member)">{{ member.first_name }}
      </label>
    </ion-item> -->
  </div>
</ion-content>

<ion-footer class="myColor">
  <ion-toolbar style="background-image: linear-gradient(to right top, #145BEB, #c0002d, #a60033, #8b0935, #6f1133);">
    <ion-title (click)="checkAll()" >Done</ion-title>
  </ion-toolbar>
</ion-footer>
